<h2><i class="fa fa-user"></i> User <small>settings</small></h2>
<div class="row">
  <div class="col-md-3">
    <div class="box box-primary">
      <form ng-submit="saveUser($event)" method="post" enctype="multipart/form-data">
        <div class="box-body box-profile">
          <div img-upload img-input-name="img" img-src="user.profileImg" img-data="user.imgData"><img class="profile-user-img img-responsive img-circle" ng-src="{{user.profileImg}}" alt="User profile picture"></div>
          <h3 class="profile-username text-center"><input type="text" class="form-control text-center" ng-model="user.name" placeholder="Name" name="name"></h3>
          <h2 class="text-center"><input type="text" class="form-control text-center" ng-model="user.email" placeholder="Email" readonly></h2>
          <!-- <p class="text-muted text-center">Athlete</p> -->
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <div class="input-group">
                <input type="text" class="form-control text-center" ng-model="profile.age" placeholder="age" ng-change="updateHr()">
                <div class="input-group-addon">years</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <input type="text" class="form-control text-center" ng-model="profile.weight" placeholder="weight">
                <div class="input-group-addon">kilos</div>
              </div>
            </li>
          </ul>
          <button type="submit" class="btn btn-primary btn-block"><b>Save</b></a>
        </div>
      </form>
      <div class="box-footer text-center">
        All information about yourself is optional
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-6">
        <div class="box box-solid box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">Upload settings</h3>
          </div>
          <div class="box-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputUsernamePassword" class="col-sm-4 control-label">user name</label>
                <div class="col-sm-8">
                  <input id="inputUsernamePassword" class="form-control" type="text" name="username" ng-model="uploadSettings.username" />
                </div>
              </div>
              <div class="form-group">
                <label for="inputUploadPassword" class="col-sm-4 control-label">upload password</label>
                <div class="col-sm-8">
                  <input id="inputUploadPassword" class="form-control" type="text" name="password" ng-model="uploadSettings.password" />
                </div>
              </div>
              <button class="btn btn-primary pull-right" type="submit" ng-click="setUploadSettings($event)">Set</button>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="box box-solid box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Profile</h3>
          </div>
          <div class="box-body">
            <form class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <input id="inputHrLink" type="checkbox" ng-model="profile.linkHr" ng-change="updateHr()" /> Link Age/Heartrate
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 control-label">
                  Heartrate Zones
                </div>
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-sm-4">
                      <label for="" class="control-label">100%</label>
                      <input class="form-control" type="text" ng-model="profile.hr100" />
                    </div>
                    <div class="col-sm-4">
                      <label for="" class="control-label">90%</label>
                      <input class="form-control" type="text" ng-model="profile.hr90" />
                    </div>
                    <div class="col-sm-4">
                      <label for="" class="control-label">80%</label>
                      <input class="form-control" type="text" ng-model="profile.hr80" />
                    </div>
                    <div class="col-sm-4">
                      <label for="" class="control-label">70%</label>
                      <input class="form-control" type="text" ng-model="profile.hr70" />
                    </div>
                    <div class="col-sm-4">
                      <label for="" class="control-label">60%</label>
                      <input class="form-control" type="text" ng-model="profile.hr60" />
                    </div>
                    <div class="col-sm-4">
                      <label for="" class="control-label">50%</label>
                      <input class="form-control" type="text" ng-model="profile.hr50" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <input ng-if="localStorageAvailable" id="inputStorage" type="checkbox" ng-model="localStorage" /> Use local storage *
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-primary pull-right" type="submit" ng-click="setUserProfile($event)">Save</button>
                </div>
              </div>
            </form>
          </div>
          <div class="box-footer">
            <small>* if the option to <em>use local storage</em> is checked your data will <strong>not</strong> be sent to the server. The data will be stored in your Browser. This also means that you will have to reenter this data on every device.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
