<h2>Workouts <small>timeline</small></h2>
<ul class="timeline">
  <li ng-repeat="item in ::timeline" ng-class="{'time-label':item.type=='date'}">
    <span ng-if="item.type=='date'" class="bg-red">{{item.value}}</span>
    <!-- timeline icon -->
    <i ng-if="item.type=='workout'" ng-class="icon[item.symbol]"></i>
    <div ng-if="item.type=='workout'" class="timeline-item" ng-init="::workout = item.value">
      <span class="time"><i class="fa fa-clock-o"></i> {{::workout.startTime | momentFilter:'HH:mm'}}</span>
      <h3 class="timeline-header"><a ui-sref="workout({id:workout.id})">{{workout.name}}</a> <small ng-init="time = workout.data.clockDuration">{{time  | momentFilter:'seconds':'duration':'hours'}}:{{time | momentFilter:'seconds':'duration':'minutes'}} h, {{workout.data.total_distance/1000 | number:2 }} km</small></h3>
      <div class="timeline-body">
        <div class="row">
          <div class="col-md-4"><span class="fa fa-clock-o" title="Duration"></span> Total / Active
            <br/> {{workout.data.clockDuration | momentFilter:'seconds':'duration':'hours'}}:{{workout.data.clockDuration | momentFilter:'seconds':'duration':'minutes'}} h / {{workout.data.duration | momentFilter:'seconds':'duration':'hours'}}:{{workout.data.duration | momentFilter:'seconds':'duration':'minutes'}} h</div>
          <div class="col-md-2 col-sm-1 text-center"><span class="fa fa-road" title="Distance"></span>
            <br/>{{workout.data.total_distance/1000 | number:2 }} km</div>
          <div class="col-md-2 col-sm-1 text-center"><span class="fa fa-circle-o-notch" title="Cadence (avg/max)"></span>
            <br/>{{workout.data.cadenceAvg}} / {{workout.data.cadenceMax}}</div>
          <div class="col-md-2 col-sm-1 text-center"><span class="fa fa-heartbeat" title="Heartrate (avg/max)"></span>
            <br/>{{workout.data.heartrateAvg}} / {{workout.data.heartrateMax}}</div>
          <div class="col-md-2 col-sm-1 text-center"><span class="fa fa-arrows-v" title="Elevation (gain/loss)"></span>
            <br/>{{workout.data.elevationGain}} / {{workout.data.elevationLoss}}</div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-3">
              <span class="label label-info">Notes</span>
              <div ng-bind-html="workout.notes">
              </div>
            </div>
          </div>
        </div>
      </div>
<!--       <div class="timeline-footer">
        <a class="btn btn-primary btn-xs">...</a>
      </div> -->
    </div>
    </span>
  </li>
  <!-- END timeline item -->
  <li>
    <i class="fa fa-calendar bg-blue"></i>
  </li>
</ul>
