// $fa-font-path: "../bower_components/components-font-awesome/fonts";
// @import "../bower_components/components-font-awesome/scss/font-awesome";
@import "fonts";
@import "variables";
@import "mixins";
@import "misc";
@import "navigation";
@import "boxes";
@import "small-box";
@import "timeline";
@import "info-box";
@import "login";
@import "buttons";
@import "checkboxes";
@import "bootstrap-social";
body {
  text-rendering: optimizeLegibility;
  background-color: $light_gray;
}

.profile-user-img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  padding: 3px;
  border: 3px solid #d2d6de;
}

.form-control {
  transition: border-color ease-in-out .2s, box-shadow ease-in-out .2s;
}

.form-control-wrapper {
  position: relative;
  display: block;
  margin: 15px 0 0px 0;
  .form-control {
    display: block;
    // height: 28px;
    float: none;
    &:focus,
    &:not(.empty) {
      & ~ .floating-label {
        font-size: 10px;
        top: -10px;
        opacity: 1;
      }
    }
  }
  .floating-label {
    position: absolute;
    display: block;
    pointer-events: none;
    top: 4px;
    font-size: 16px;
    height: 100%;
    transition: .2s ease all;
  }
}

.d3plot {
  /*   div {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    overflow: hidden;
    vertical-align: middle;
    > svg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  } */
  .right {
    &.area {
      fill: steelblue;
    }
    &.circle {
      stroke-width: 2px;
      stroke: blue;
      fill: steelblue;
    }
  }
  .left {
    &.area {
      fill: indianred;
    }
    &.circle {
      stroke-width: 2px;
      stroke: red;
      fill: indianred;
    }
  }
  path {
    opacity: 0.5;
    &.left {
      stroke: #c00;
    }
    &.right {
      stroke: #00C;
    }
    stroke-width: 1px;
    fill: transparent;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  /*
  .y.axis {
    path {
      display: none;
    }
    line {
      stroke: #777;
      stroke-dasharray: 2, 2;
    }
    .right {
      text-anchor: end;
    }
    .left {
      text-anchor: start;
    }
  }*/
}

.workout-menu {
  li {
    a {
      text-align: left;
    }
    .btn .fa {
      width: 15px;
    }
  }
}

.workouts .timeline-item .checkbox {
  display: inline-block;
  margin: 0 0 0 8px;
}
